@tailwind base;
@tailwind components;
@tailwind utilities;


label { 
  @apply font-medium text-sm;
}

.ui.button {
  @apply bg-indigo-600 font-semibold text-white dark:text-black shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600
}

.ui.form {
  .grouped.fields {
    .field>label {
      @apply dark:text-white;
    }
  }
  .field>label[for^="uniforms-"] {
    @apply dark:text-white;
  }
}

.ui.radio.checkbox label, .ui.checkbox+label {
  @apply dark:text-white;
}


p {
  @apply dark:text-slate-400;
}

.b-form-wrapper {
  @apply border-slate-600 border rounded-lg px-4 py-4;

  .ui.button {
    @apply rounded-md  px-3 py-2 text-sm;
  }

  .ui.button[type="submit"] {
    @apply bg-indigo-600 font-semibold text-white dark:text-black shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600
  }

  input {
    @apply border-0 bg-white py-1.5 pl-1;
    &::placeholder {
      font-style: italic;
    }
  }

  select {
    @apply block w-full rounded-md border-0 py-1.5 ;
    padding-top: 6px!important;
    padding-bottom: 6px!important;
  }

}

.b-form__buttons {
  display: flex;
  justify-content: space-between;

  @media (max-width: 490px) {
    justify-content: center;
    flex-direction: column-reverse;
  }

  .button {
    @apply md:ml-8;

    @media (max-width: 490px) {
      width: 100%;
      margin: 5px 0;
    }

  }
}

.b-form-wrapper .b-form__buttons {
  display: flex;
  justify-content: end;

  @media (max-width: 490px) {
    justify-content: center;
    flex-direction: column-reverse;
  }

  .button {
    @apply md:ml-8;

    @media (max-width: 490px) {
      width: 100%;
      margin: 5px 0;
    }

  }
}

.field .ui.input input{
  @apply flex rounded-md shadow-sm ;
}

.b-form-group {
  @apply border-slate-600 border rounded-lg px-8 py-8 mb-4;
  .field {
    @apply my-6;
  }

  .b-form-group {
    @apply px-0;
  }

  hr {
    margin: 10px 0;
  }

}

.b-form-group--horizontal {
  @apply flex flex-col md:flex-row flex-nowrap justify-stretch md:gap-x-6; /* Flex column on mobile, flex row on medium screens and up */

  .field,
  h4, 
  span {
    @apply flex flex-col items-start gap-x-2;
  }
}

.b-form-group--borderless {
  @apply border-none;
}

.b-form__radio-buttons--horizontal {
  div > div {
    @apply flex flex-col md:flex-row my-4 md:my-0; /* Flex column on mobile, flex row on medium screens and up */
    label {
      @apply pr-5 pl-2;
    }
  }

  div > div.header {
    @apply my-0;
  }

  div > div > div {
    @apply flex flex-row md:flex-row;
  }

  .field {
    @apply my-4;
  }

}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensures the overlay is above all other content */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

ol, ul {
  list-style: disc;
  li {
    @apply dark:text-slate-400;
  }
}

.b-button-primary,
.b-button-primary.ui.button[type="submit"],
.b-form-wrapper .b-button-primary.ui.button[type="submit"] {
  @apply text-white dark:text-black font-semibold text-sm bg-slate-900 dark:bg-slate-50 rounded-lg hover:bg-slate-700 dark:hover:bg-slate-300 h-10 ;
}

.b-button-secondary,
.b-button-secondary.ui.button,
.b-form-wrapper .b-button-secondary.ui.button {
  @apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors h-10;
}

.b-button-secondary-2 {
  @apply text-black font-semibold text-sm bg-white rounded-lg border-slate-500 hover:bg-slate-700 h-10;
}

.b-home-button__primary {
  @apply w-full flex justify-center align-middle px-4 py-6 text-white hover:text-white dark:text-black font-semibold text-lg bg-slate-900 dark:bg-slate-50 rounded-lg hover:bg-slate-700
}

.b-home-button__secondary {
  @apply flex justify-center align-middle px-4 py-6 text-black hover:text-black font-semibold text-lg bg-white rounded-lg border border-slate-200 hover:bg-slate-200
}

.b-table-container {
  width: 100%;
  overflow-x: auto;
}

.b-header__button {
  @apply flex w-full justify-center place-items-center gap-x-1.5 bg-white px-3 py-2 text-sm font-semibold rounded-md text-gray-900 border-0 hover:bg-gray-100;
}

footer a {
  @apply text-black dark:text-white text-lg;
}



